@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000; 
}
body{
    background: #FFFFFF;
}
head{
    background: #446F9C;
}
.container{
    background: #000000;
    padding: 10px;
    width: 1366px;
    
}
.card{
    border-radius: 20px;
    background-color: #FFFAFA;
    padding: 10%;
    display: flex;
    max-width: 405px;
    border: 2px solid black;
    flex-direction: column;
    justify-content: space-between;
}
.image{
    width: 100px;
    height: 100px;
}
.card-container{
    background: #ff0303;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    
}
.card-content{
    
}

.space{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    height: fit-content;
    min-height: 100vh;
    background-color: whitesmoke;
}
.header{
    display: flex;
    align-items: stretch;
    position: sticky;
    background-color: lightgray;
    padding:5px;
    top: 0;
    width: auto;
}

.header-text{
    display: flex;
}

.header-buttons-div{
    margin-left: auto;
    display: flex;
    align-items: stretch;
    
}

.header-buttons{
    display: flex;
    align-items: center;
    
}



.header-buttons{
    color: #446F9C;
}
