{% load static %}

<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Услуги{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
  </head>
  <body>
    <div class="space">

        <div class="full-width-block">
            <div class="image-area">
                <a href="http://localhost:8000/groups/">
                    <img src= "{{ 'http://127.0.0.1:9000/lab1/bmstu_logo.svg' }}" alt="BMSTU gerb" class="link-image" />
                </a>
            </div>
            <div class="text-area">
                <h1>BMSTU</h1>
            </div>
        </div>
            
        {% block search %}{% endblock %}
        
        {% block extra_scripts %}{% endblock %}
        <div class="space-between"></div>
            {% block container %}{% endblock %}
        </div>    

    </div>
  </body>
</html>