{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{data.index_photo.0.image}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bin_style.css' %}"/>
 </head>
<body>
    <div class="space">
        <div class="full-width-block">
          <div class="image-area">
              <a href="http://localhost:8000/hello/">
                  <img src={{data.index_photo.0.image}} alt="BMSTU gerb" class="link-image" />
              </a>
          </div>
          <div class="text-area">
            <h1>{{ data.group.group_name }}</h1>
           </div>
        </div>
       
        
    </div>
</body>
</html>
