{% extends 'index.html' %}

{% block container %}
<div class="card-container">
    {% for group in data.group %}
        <div class="card">
            <img src={{group.image}} class="image">
            <div class="card-content">
                <p class="title">{{group.group_name}}</p>
                <p class="short-description">{{group.group_desc}}</p>
                <p>1234 ₽</p>
                <a href="" class="card-button">Подробнее</a> 
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}