{% extends 'base.html' %}

{% block search %}

<div class="container">
    <div class="search-container"> 
        <form method="get" action="" class="method_search">
            <select id="course-select" name="srch_course">
                <option value="0">Все курсы</option>
                <option value="1">1 курс</option>
                <option value="2">2 курс</option>
                <option value="3">3 курс</option>
                <option value="4">4 курс</option>
            </select>
            <button type="submit" class="card-button">Найти</button>
        </form> 
        <div class="count">
            {{ data.ReqCallCount }}
        </div>

        <div class="floating-button">
            <a 
                {% if data.active_lesson %} 
                    href="http://localhost:8000/schedule/{{ data.active_lesson.id }}" 
                {% else %}
                    class="disabled" 
                {% endif %}
                >
                <img src="{{ 'http://127.0.0.1:9000/lab1/check-circle.svg' }}" alt="Кнопка" />
            </a>
        </div>

        <div class="alert-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                        <span>{{ message }}</span>
                        <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block container %}


<div class="card-container">
    {% for group in data.groups %}
        <div class="card">
            <img src="{{ group.photo_url }}" class="card_image" alt="Фото группы">
            <div class="card-content">
                <p class="title">{{ group.facultet }}{{ group.kafedra }}-{{ group.course }}{{ group.count }}</p>
                <div class="button-container">
                    <a href="{% url 'group_info' group.id %}" class="card-button">Подробнее</a>
                    <form method="POST" style="margin: 0;">
                        {% csrf_token %}
                        <input type="hidden" name="group_id" value="{{ group.id }}">
                        <button type="submit" class="card-button">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_scripts %}
<script>
     // Сохраняем позицию прокрутки перед отправкой формы
     window.addEventListener("beforeunload", function () {
        localStorage.setItem("scrollPosition", window.scrollY);
    });

    // Восстанавливаем позицию прокрутки после загрузки страницы
    window.addEventListener("load", function () {
        const scrollPosition = localStorage.getItem("scrollPosition");
        if (scrollPosition) {
            window.scrollTo(0, scrollPosition);
            localStorage.removeItem("scrollPosition");
        }
    });


    document.addEventListener('DOMContentLoaded', function () {
        // Находим все алерты
        const alerts = document.querySelectorAll('.alert-container .alert');
        if (alerts.length > 0) {
            // Устанавливаем таймер для скрытия сообщений
            setTimeout(() => {
                alerts.forEach(alert => {
                    alert.style.transition = 'opacity 0.5s ease';
                    alert.style.opacity = '0';
                    setTimeout(() => alert.remove(), 500); // Удаляем элементы из DOM
                });
            }, 4000); // Время отображения сообщения (4 секунды)
        }
    });
</script>
{% endblock %}
