{% load static %}

<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groups</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
  </head>
  <body>
    <div class="space">

      <div class="full-width-block">
        <div class="text-area">
            <h1>Заголовок  блока</h1>
            <p>Osmanthus wine tastes the same as I remember... But where are those who share the memory?</p>
        </div>
        <div class="image-area">
            <a href="https://example.com">
                <img src="http://127.0.0.1:9000/lab1/photo1.jpeg" alt="Описание изображения" />
            </a>
        </div>
    </div>
    

        <div class="container">
          <div class="search">
              <title>Search</title>
          </div>
          {% block container %}{% endblock %}
        </div>
        
    </div>
  </body>
</html>