{% load static %}

<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groups</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
  </head>
  <body>
    <div class="space">

      <div class="full-width-block">
        <div class="image-area">
            <a href="http://localhost:8000/hello/">
                <img src={{data.index_photo.0.image}} alt="BMSTU gerb" class="link-image" />
            </a>
        </div>
        <div class="text-area">
            <h1>BMSTU</h1>
        </div>
      </div>

        <div class="container">

          <div class="search">
            <form action="/search" method="GET"> <!-- Укажите URL для обработки поискового запроса -->
                <input type="text" name="query" placeholder="Введите текст для поиска" class="search-input" required>
                <button type="submit" class="search-button">Поиск</button>
            </form>
        </div>
        {% block container %}{% endblock %}
        </div>
        
    </div>
  </body>
</html>