{% extends 'base.html' %}

{% block search %} {% endblock %}

{% block container %}
<div class="space_schedule"></div>

{% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if lesson %}
    <div class="edit-lesson">
        <h2 class="edit-lesson-title">Редактировать заявку: {{ lesson.name }}</h2>
       
        <form method="POST" class="edit-lesson-form">
            {% csrf_token %}
            
            <label for="name">Название занятия:</label>
            <input type="text" id="name" name="name" value="{{ lesson.name }}">
        
            <label for="date">Дата занятия:</label>
            <input type="date" id="date" name="date" value="{{ lesson.date|date:'Y-m-d' }}">
        
            <label for="time">Время занятия:</label>
            <input type="time" id="time" name="time" value="{{ lesson.time }}">
        
            <label for="formation_date">Дата формирования:</label>
            <input type="date" id="formation_date" name="formation_date" value="{{ today_date_input }}" readonly>
        
            <label for="formation_time">Время формирования:</label>
            <input type="time" id="formation_time" name="formation_time" value="{{ now_time }}" readonly>
        
            
            <button type="submit" name="save_lesson">Сохранить заявку</button>
        </form>
        
        
    </div>

    <h3 class="groups-title">Группы:</h3>
    <div class="groups-container">
        {% for lesson_group in related_groups %}
            <div class="card-schedule">
                {% if lesson_group.group.photo_url %}
                    <img src="{{ lesson_group.group.photo_url }}" class="card-image" alt="Фото группы">
                {% endif %}
                <div class="card-content-schedule">
                    <p class="title-schedule">{{ lesson_group.group.facultet }}{{ lesson_group.group.kafedra }}-{{ lesson_group.group.course }}{{ lesson_group.group.count }}</p>

                    <form method="POST" class="update-group-info-form">
                        {% csrf_token %}
                        <label for="audience">Аудитория:</label>
                        <input type="text" name="audience" value="{{ lesson_group.audience }}" class="small-input">
                    
                        <label for="building">Здание:</label>
                        <input type="text" name="building" value="{{ lesson_group.building }}" class="small-input">
                    
                        <input type="hidden" name="lesson_group_id" value="{{ lesson_group.id }}">
                        <button type="submit" class="update-group-btn">Сохранить</button>
                    </form>
                    
                    <p>Староста: {{ lesson_group.group.headboy }}</p>
                    <p>Контактный телефон: {{ lesson_group.group.contact_phone }}</p>

                    <!-- Кнопка удаления группы из заявки -->
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="remove_group_id" value="{{ lesson_group.id }}">
                        <button type="submit" class="remove-group-btn">✖</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="no-lesson">Заявка не найдена или еще не сформирована.</p>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script>
    // Сохраняем позицию прокрутки перед отправкой формы
    window.addEventListener("beforeunload", function () {
        localStorage.setItem("scrollPosition", window.scrollY);
    });

    // Восстанавливаем позицию прокрутки после загрузки страницы
    window.addEventListener("load", function () {
        const scrollPosition = localStorage.getItem("scrollPosition");
        if (scrollPosition) {
            window.scrollTo(0, scrollPosition);
            localStorage.removeItem("scrollPosition");
        }
    });
</script>
{% endblock %}